PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/forever_beauty

# Twilio Credentials
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=

# SendGrid Credentials
SENDGRID_API_KEY=
VERIFIED_SENDER_EMAIL=
